.theteam-main{
    background-color: $backColor;   
}
.theteam-section1{
    background-color: $backColor;
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../img/background-theTeam.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vw;
}
.h1-int-theteam{
    text-align:center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $genYell;
    font-size: 6.5rem;
    font-family: OpenSauceSans-SemiBold, sans-serif;
    margin: 0px;
}
.theteam-p{
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: justify;
    text-justify:distribute-all-lines;
    color: $genBlu;
    font-size: large;
    line-height: 2rem; 
    padding-left: 5rem;
    padding-right: 5rem;
}
.theteam-name{
    font-weight: bolder;
    font-family:'Open Sans', sans-serif;
    color: $genBlu;
}
.theteam-work{
    font-size: 15px;
    text-align: justify;
    font-family:'Open Sans', sans-serif;
    color: $genBlu;
}
.theteam-box{
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
}
.theteam-prof{
    text-decoration: none;
    color: $genBlu;
}